.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-navlink {
  text-decoration: none;
}
.navigation-links1-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}



























@media(max-width: 1900px) {
  .navigation-links1-root-class-name8 {
    background-color: rgba(217, 217, 217, 0);
  }
  .navigation-links1-root-class-name10 {
    background-color: rgba(217, 217, 217, 0);
  }
  .navigation-links1-root-class-name12 {
    background-color: rgba(217, 217, 217, 0);
  }
  .navigation-links1-root-class-name14 {
    background-color: rgba(217, 217, 217, 0);
  }
  .navigation-links1-root-class-name16 {
    background-color: rgba(217, 217, 217, 0);
  }
  .navigation-links1-root-class-name17 {
    background-color: rgba(217, 217, 217, 0);
  }
  .navigation-links1-root-class-name20 {
    background-color: rgba(217, 217, 217, 0);
  }
  .navigation-links1-root-class-name22 {
    background-color: rgba(217, 217, 217, 0);
  }
  .navigation-links1-root-class-name24 {
    background-color: rgba(217, 217, 217, 0);
  }
  .navigation-links1-root-class-name26 {
    background-color: rgba(217, 217, 217, 0);
  }
}
@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
